<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NomadNook</title>
</head>
<body>
<h3>Update this listing</h3>
<form method="post" action="/listings/<%=listing._id%>?_method=PUT">
<!--<form>-->
    <input name="listing[title]" type="text" value="<%=listing.title%>">
    <br/><br/>
    <textarea name="listing[description]"><%=listing.description%></textarea>
    <br/><br/>
    <input name="listing[img]" value="<%=listing.img%>" type="text">
    <br/><br/>
    <input name="listing[price]" value="<%=listing.price%>" type="number">
    <br/><br/>
    <input name="listing[country]" value="<%=listing.country%>" type="text">
    <br/><br/>
    <input name="listing[Location]" value="<%=listing.location%>" type="text">
    <br/><br/>
    <button>Save</button>
</form>
</body>
</html>